.navbar {
  background-color: #4473c5;
  color: #fff;
  height: 80px;
  border-bottom: 2px solid #34558b;
}

.nav-link {
  color: #fff;
}

.nav-link:hover {
  color: #f8f9fa;
}

.navbar-brand {
  margin-right: auto;
  margin-left: 10px;
  color: #fff;
}

.nav-footer {
  margin-top: auto;
}

.dashboard-content,
.room-master-content,
.bed-master-content {
  display: none;
}

/* Updated CSS for the sidebar menu */
.nav.flex-column {
  height: 90vh;
  overflow-y: auto;
  background-color: #4473c5;
  color: #fff;
  border-right: 2px solid #34558b;
}

@media (max-width: 991.98px) {
  .navbar-expand-md .navbar-collapse {
    display: none;
  }

  .navbar-expand-md .navbar-toggler {
    display: block;
  }

  .navbar-expand-md .navbar-toggler-icon {
    background-color: #f8f9fa;
  }

  .navbar-expand-md .navbar-toggler:hover .navbar-toggler-icon {
    background-color: #f8f9fa;
  }

  .navbar-expand-md .navbar-collapse.show {
    display: block;
  }
}

/* styling for modal popup */
.modal-dialog-centered {
  display: flex;
  align-items: center;
  min-height: calc(100% - 3.5rem);
}

.modal-content {
  border-radius: 10px;
  border-style: solid;
  border-color: #484f61;
}

.modal-header {
  border-bottom: 1px solid black;
  position: relative;
}

.modal-header .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  color: #000;
  font-size: 1.5rem;
  font-weight: bold;
}

.modal-body {
  padding: 1.5rem;
}

.modal-footer {
  justify-content: flex-end;
}

#roomNo,
#totalBeds,
#editRoomNo,
#editTotalBeds,
#broomNo,
#bedNo,
#bedCharge,
#editBRoomNo,
#editBedNo,
#editBedCharge,
#registrationNo,
#studentName,
#contactNo,
#address,
#sbedNo,
#sbedCharge,
#editRegistrationNo,
#editStudentName,
#editContactNo,
#editAddress,
#editSBedNo,
#editSBedCharge {
  background-color: #fbe5d7;
  border-style: solid;
  border-color: #6e7386;
}

#mrNo,
#datePicker,
#regNo,
#studentName,
#contact,
#address,
#bedNo,
#amountReceived,
#editmrNo,
#editdatePicker,
#editregNo,
#editstudentName,
#editContact,
#editAddress,
#editbedNo,
#editAmountReceived,
#currentUsername,
#oldPassword,
#newPassword,
#re-enterPassword,
#pusername,
#pfirstName,
#plastName,
#paddress,
#pcontact,
#pemail,
#fromDate,
#toDate {
  background-color: #dae3f4;
  border-style: solid;
  border-color: #4473c5;
}

.col-md-9 {
  background-color: #fbe5d7;
}

.heading-line {
  width: 100%;
  height: 2px;
  background-color: orange;
  margin-bottom: 10px;
}

.mb-4 {
  margin-top: 15px;
}

.btn-primary {
  background-color: #4473c5;
}

.table {
  margin-top: 20px;
  font-size: 18px;
  border: 1px solid #57493e;
}

.table th {
  background-color: #2e5495;
  border: #57493e;
  padding: 12px 15px;
  font-weight: bold;
  text-align: left;
  color: white;
}

.table td {
  border-top: 1px solid #57493e;
  padding: 12px 15px;
}

#roomMasterContainerDiv,
#BedMasterContainerDiv,
#studentMasterContainerDiv,
#moneyReceiptContainerDiv,
#feeSummaryContainerDiv,
#changePasswordContainerDiv {
  display: none;
}

#dashboardContainerDiv {
  display: initial;
}
